.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*_files/
.DS_Store

.snakemake/
# file is too large
singlecells.csv
*.h5ad
*.rds
results/
figs/
journal.pone*
depmap/
cell_metadata_annotated.tsv
antibody_screen_mean_sd.csv
